// orange
$accent-color: #f0a800;

// TODO
// $primary-color: #007bff;        
// $primary-color-dark: #0056b3;   
// $primary-color-light: #66b3ff;  

// $secondary-color: #6c757d;      
// $secondary-color-dark: #4d5458; 
// $secondary-color-light: #8a9399;

$text-color: #f4e1b5;              
$text-color-light: #ffffff;        

$background-color: #010107;     
$background-color-light: #ffffff;  

// $border-color: #ccc;            
// $border-color-light: #e5e5e5;   

$container-padding: 10px;

$font-size: 20px;
